<header class="header header-4">
    <div class="branding">
        <a routerLink="/search-papers" class="nav-link">
            <clr-icon shape="book" size="36"></clr-icon>
            <span class="title">Project Scholar Queries</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/search-papers" class="nav-link" routerLinkActive="active" aria-current="page"><span class="nav-text">Papers Dashboard</span></a>
        <a routerLink="/search-hist" routerLinkActive="active" class="nav-link"><span class="nav-text">Analytics Dashboard</span></a>
    </div>
</header>