<!-- Header -->
<!-- Card for searching -->
<!-- Table -->
<!-- Footer maybe -->
<div class="main-container">
    <app-header></app-header>
    <div clas="content-container">
        <div class="content-area">
            <div class="search-form">
                <form clrForm class="form-style" (ngSubmit)="onSubmit($event)">
                    <clr-input-container>
                        <label>Author</label>
                        <input clrInput type="text" name="authorName" [(ngModel)]="authorName" required />
                        <clr-control-error> The author name is mandatory!</clr-control-error>
                    </clr-input-container>
                    <clr-combobox-container>
                        <label>Sort</label>
                        <clr-combobox name="Sort" name="sorting" [(ngModel)]="sorting" required placeholder="Select sorting type">
                            <clr-options>
                            <clr-option clrValue="By Date">Date</clr-option>
                            <clr-option clrValue="By Citations">Citations</clr-option>
                            </clr-options>
                        </clr-combobox>
                    </clr-combobox-container>
                    <button class="btn btn-block" type="submit">Submit</button>
                </form>
            </div>
            <h4> List of the author's articles</h4>
            <div class="grid-wrapper">
                <clr-datagrid class="grid">
                    <clr-dg-column>Title</clr-dg-column>
                    <clr-dg-column>Authors</clr-dg-column>
                    <clr-dg-column>Publication Year</clr-dg-column>
                    <clr-dg-column>Citations</clr-dg-column>
                
                    <clr-dg-row *clrDgItems="let paper of papers;let i = index">
                        <clr-dg-cell>{{(pagination.page.current - 1)*pagination.page.size + i + 1}} {{paper.title}}</clr-dg-cell>
                        <clr-dg-cell>{{paper.authors}}</clr-dg-cell>
                        <clr-dg-cell>{{paper.year}}</clr-dg-cell>
                        <clr-dg-cell>{{paper.cited_by.value}}</clr-dg-cell>
                    </clr-dg-row>
                
                    <clr-dg-footer>
                        <div *ngIf="canSearchMore">
                            <button class="btn btn-sm btn-center" (click)="getNext()"> Get Next 100</button>
                        </div>
                        <clr-dg-pagination #pagination [clrDgPageSize]="20">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Articles per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} articles
                        </clr-dg-pagination>
                    </clr-dg-footer>

                </clr-datagrid>
            </div>
            <h4> Total citation: {{totalCitations}} </h4>
        </div>
    </div>
</div>